

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Notificador de feriados</h1>
        <p>Esta aplicación le permitirá advertir con tiempo a sus clientes los días que no trabajará de acuerdo a los feriados que indique en su calendario anual de días no laborables</p>
        <p><a class="btn btn-primary btn-large">Aprender más »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Notificación Automática</h2>
          <p>Automatize la notificación de sus días no laborables. Fácil interfáz configurable. Cargue sus datos personales, lista de clientes y calendario de feriados y despreocúpese de olvidar notificar un feriado a sus clientes.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
        </div>
        <div class="span4">
          <h2>Envío Masivo de Emails</h2>
          <p>Hasta 200 emails por dia con cuenta free. Consulte planes especiales.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
       </div>
        <div class="span4">
          <h2>Emails personalizados</h2>
          <p>Flexible para generar marcado y cargar templates a su medida.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">Ver Detalles »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© EmanuelCadems 2012</p>
      </footer>


  
